body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu-form {
  display: flex;
}

.search-button-menu {
  padding-left: 10px;
}

.dark-overlay {
  position: relative;
}

.dark-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.carousel-link {
  color: #ffffff;
  text-decoration: none;
}

.carousel-link:hover {
  text-decoration: underline;
}

.carousel-description {
  color: #b5b3b3;
}

header {
  position: relative;
  padding: 0 5rem;
  color: #198754;
}

.shop-cart-button {
  float: right;
  color: aliceblue;
  cursor: pointer;
  transition: color, transform 500ms ease;
  margin-left: 1rem;
  width: 40px;
  margin-top: 0.6rem;
}

.shop-cart-button:hover {
  color: rgb(105, 203, 235);
  transform: scale(1.5);
}

.shop-cart-container {
  position: relative;
}

.shop-cart {
  position: absolute;
  top: 3rem;
  right: 0;
  width: 345px;
  min-height: 3rem;
  background: aliceblue;
  border-radius: 5px;
  box-shadow: 6px 3px 13px 2px rgba(0,157,255,0.5);
  z-index: 1000;
}

.remove {
  background-color: #f0f8ff;
  color: #f00;
  padding: 0rem 0.7rem;
  border: none;
  border-radius: 5px !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove:hover {
  background-color: #c82333;
  color: azure;
  border-radius: 7px !important;
}
