:root {
  --bg-color: #4551dd;
  --circle-bg-yellow: #f8b001;
  --animation-duration-start: 1.5s;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

.container-header {
  width: 60%;
  height: 900px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}

.background-circle {
  width: 78%;
  aspect-ratio: 1/1;
  background-image: url("./drive-img/bbvv.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;

  position: absolute;
  z-index: -1;
  top: 40px;
  left: 0;

  animation: background-circle-appears var(--animation-duration-start);
}

@keyframes background-circle-appears {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.title-header {
  font-size: 4.5rem;
  color: whitesmoke;
  background-color: var(--bg-color);
  width: 600px;
  box-sizing: border-box;
  padding: 25px 20px;
  border-radius: 10px;

  animation: title-appears var(--animation-duration-start) 0.25s both;
}

@keyframes title-appears {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.section-1.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 20px;
  width: 600px;
  margin-top: 50px;
}

.section-1.grid .grid-item {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  position: relative;

  animation: grid-item-appears var(--animation-duration-start) 0.25s both;
}

@keyframes grid-item-appears {
  0% {
    opacity: 0;
    transform: translateY(50%) scaleY(0.3);
    transform-origin: bottom;
  }

  100% {
    opacity: 1;
    transform: translateY(100) scaleY(1);
    transform-origin: center;
  }
}

.section-1.grid .grid-item > div {
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: bolder;
  color: var(--bg-color);
}

.section-1.grid .grid-item > div:first-child {
  margin-bottom: 25px;
  aspect-ratio: 1/1;
  background-color: var(--circle-bg-yellow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.section-1.grid .grid-item img {
  width: 45%;
  aspect-ratio: 1/1;
}

.container {
  width: 100%;
  padding-top: 100px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  color: whitesmoke;
}

.subtitle {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  width: 40rem;
  color: whitesmoke;
  text-align: center;
}

.column-partners {
  display: flex;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.column-partners-item {
  width: 15rem;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: white;
  -webkit-box-shadow: 10px 10px 19px -8px rgb(207, 207, 207);
  -moz-box-shadow: 10px 10px 19px -8px rgb(202, 201, 201);
  box-shadow: 10px 10px 19px -8px rgb(84, 83, 83);
}

.img {
  height: auto;
  width: 200px;
  border-radius: 1rem;
}

.small-title {
  font-size: 20px;
  margin-top: 5%;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.small-text {
  color: dimgray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.button {
  margin-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  color: dimgray;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-decoration: underline rgb(131, 131, 248);
}

.container-menu {
  width: 100%;
  margin-top: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    rgba(69, 81, 221, 1) 9%,
    rgba(248, 176, 1, 1) 3%,
    rgba(248, 176, 1, 1) 52%,
    rgba(69, 81, 221, 1) 3%
  );
  box-sizing: border-box;
  height: 30rem;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 2rem;
  width: 60%;
  margin: auto;
  column-gap: 20px;
}

.img-items {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  left: 10rem;
  cursor: pointer;
}

.items {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
}

.title-item {
  color: #4551dd;
  font-size: 20px;
  padding-bottom: 5px;
}

.text-item {
  color: #b5b5b5;
  font-size: 0.75em;
}

.container-courses {
  height: 30rem;
  width: 55%;
  padding-top: 8.5rem;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  display: flex;
}

.numbers {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.numb-items {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.title-numb {
  font-size: 3rem;
  font-weight: bold;
}

.container-learn-more {
  margin-left: 0.2rem;
  width: 50%;
  height: auto;
}

.small-wight-title {
  font-size: 2rem;
  color: white;
}

.small-subtitle {
  width: 20rem;
  text-align: left;
}

.button-learn-more {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  font-size: 13px;
  line-height: 20px;
  background-color: #f8b001;
  color: var(--bg-color);
  border-radius: 35px;
  cursor: pointer;
}

.container-mission {
  height: 100%;
  width: 100%;
  background: rgb(69, 81, 221);
  background: linear-gradient(
    180deg,
    rgba(69, 81, 221, 1) 50%,
    rgba(245, 245, 245, 1) 50%
  );
}

.mission {
  box-sizing: border-box;
  width: 60%;
  height: 400px;
  margin-left: 30%;
  position: relative;
  display: flex;
  align-items: end;
}

.circle-mission {
  background-image: url("./drive-img/jhj.jpg");
  margin-left: 70px;
  width: 500px;
  margin-top: 0;
  width: 60%;
  top: -94px;
  z-index: 1;
}

.items-mission {
  width: 40%;
  z-index: 2;
  box-sizing: border-box;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: whitesmoke;
}

.title-mission {
  color: black;
  font-size: 40px;
  font-weight: 600;
  height: 57%;
}

.text-mission {
  font-size: 17px;
  font-weight: normal;
  color: grey;
  padding-left: 22px;
}

.button-mission {
  margin-left: 22px;
  margin-top: 22px;
}

.container-worker {
  width: 100%;
  height: 550px;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: whitesmoke;
  box-sizing: border-box;
}

.worker-all-items {
  margin: auto;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  column-gap: 55px;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.worker-first-item {
  box-sizing: border-box;
  color: var(--bg-color);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.worker-second-item {
  box-sizing: border-box;
  color: var(--bg-color);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.circle-worker {
  aspect-ratio: 1/1;
  background-color: var(--circle-bg-yellow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
}

.circle-worker-img-1 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 100% 0%;
}

.circle-worker-img-2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0% 100%;
}

.circle-worker-img-3 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0% 100%;
}

.worker-text-items-1 {
  width: 33%;
  /*margin-right: 180px;*/
  /*margin-top: 20px;*/
  text-align: right;
}

.worker-text-items-2 {
  width: 33%;
  margin-left: 50px;
  /*margin-left: 100px;*/
  /*margin-top: 20px;*/
}

.worker-title {
  color: #4551dd;
  font-size: 16px;
  width: 230px;
  margin-bottom: 10px;
  font-weight: bold;
}

.worker-text {
  color: #969595;
  font-size: 0.75em;
  width: 230px;
}

.twitter-1 {
  width: 33%;
  height: 60px;
  display: flex;
  margin-left: 50px;
  margin-top: 45px;
}

.twitter-2 {
  width: 33%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}

.container-coment {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quotes {
  color: #f8b001;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin-top: 10px;
}

.coment-img {
  width: 150px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  margin-top: 100px;
}

.coment-box {
  background-color: white;
  width: 600px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: flex-end;
  color: var(--bg-color);
  font-size: 22px;
  font-weight: bold;
  margin-top: 40px;
  padding: 20px 5px 30px;
}

.coment-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-info {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.info-items {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-item-1 {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.info-img {
  width: 400px;
  height: auto;
  margin-top: 35px;
}

.items-contact-us {
  width: 400px;
  height: 400px;
  margin-top: 35px;
  margin-left: 35px;
}

.info-main-title1 {
  color: black;
  font-weight: bold;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.info-title {
  font-size: 11px;
}

#info-name {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px 5px;
  border: 0;
  border-bottom:1px solid #979797;
  width: 100%;
  font-size: 11px;
}

#info-email {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px 5px;
  border: 0;
  border-bottom:1px solid #979797;
  width: 100%;
  font-size: 11px;
}


.info-message {
  width:100%;
  resize: vertical;
  padding:10px;
  border:0;
  height:70px;
  border-bottom:1px solid #515151;
  margin-bottom: 10px;
  font-size: 11px;
}
.info-accept {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 11px;
}
.info-accept input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width:0; 
  height:0;
}
.info-accept span {
  position: absolute;
  top:0;
  left:0;
  width:20px; 
  height:20px;
  background-color: #ddd;
}
.info-accept span:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.info-accept input:checked ~ span {
  background-color: var(--bg-color);
}
.info-accept input:checked ~ span:after {
  display:block;
}
.info-accept-link {
  text-decoration: none;
  color: #4551dd;
}

.info-button {
  appearance:none;
  -webkit-appearance:none;
  margin-top:20px;
  border:none;
  background-color: var(--bg-color);
  color:#fff;
  font-weight:600;
  border-radius:15px;
  width:90%;
  height: 45px;
}

.info-main {
  width: 85%;
  display: flex;
  flex-grow: 3;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.info-container {
  width: 230px;
  height: 100px;
  background-color: var(--bg-color);
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
}

.info-main-title2 {
  font-size: 13px;
  font-weight: 600;
  color: white;
}

.info-main-text {
  font-size: 12px;
  color: white;
}